body {
    background-image: url('images/smokey.jpg');
    background-size: 1550px 1000px;
    position: fixed;
}

.container {
   
    width:1520px;
    height:1000px;
}

/* .container {
    width: 98vw;
    height: 135vh;
    margin-left: 0vh;
    margin-top: -150vh;
} */


h1 {
    margin-left: 0 auto;
    margin-top: 15px;
    /* padding-top: 5px; */
    
    text-align: center;
    color: #0D7377;
    font-size: 55px;
    font-family: 'Lemonada', cursive;
    text-decoration: #0D7377;
    -webkit-text-stroke: 0.001px #6FFFE9;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff6e52, 0 0 30px  #ff6e52, 0 0 40px #ff6e52, 0 0 50px  #ff6e52, 0 0 60px  #ff6e52;
    }
    
    to {
      text-shadow: 0 0 5px #fff, 0 0 20px #ff6e52, 0 0 30px #ff6e52, 0 0 40px #ff6e52, 0 0 50px #ff6e52, 0 0 60px #ff6e52, 0 0 70px #ff6e52;
    }
  }


.how p {
    padding: 0px 540px;
    font-family: 'Indie Flower', cursive;;
    color: #3EB9B0;
    font-size: 33px;
}

.how {
    position: relative;
    top: -25px;
}

.info p {
    padding: 0px 540px;
    font-family: 'Indie Flower', cursive;;
    color: #3EB9B0;
    font-size: 25px;
}

.info {
    position: relative;
    bottom: 35px;
}



.gtg {
    
        background-image: url('images/chicken.jpg'); 
        background-size: cover;
        border: 2px solid rgb(27, 27, 27);
        border-radius: 12px; 
        margin: 0 auto;
        margin-left: 0%;
        cursor: pointer; 
        width: 10%; 

        color: #0B132B;
        font-family: 'Chewy', cursive;
        letter-spacing: 4px;
        padding: 45px 40px; 
        text-align: center; 
        display: inline-block; 
        font-size: 23px; 
        background-color: #a8beff;
        text-decoration:none;
        
        position: relative;
        bottom: 320px;

    
}

/* .gtg:hover {
    background-color: rgb(248, 242, 221);
} */


.go2 {
        background-image: url('images/pika.gif');
        background-size: cover;
        border: 2px solid rgb(27, 27, 27);
        border-radius: 12px; 
        margin: 0 auto;
        margin-left: 38%;
        cursor: pointer; 
        width: 11%; 
        position: relative;
        left: 220px;


        color: #0B132B;
        font-family: 'Chewy', cursive;
        letter-spacing: 4px;
        padding: 45px 40px; 
        text-align: center; 
        display: inline-block; 
        font-size: 23px; 
        text-decoration:none;

        bottom: 240px;
}

.go3 {
        background-image: url('images/patrick.gif');
        background-size: cover;
        border: 2px solid rgb(27, 27, 27);
        border-radius: 12px; 
        margin: 0 auto;
        margin-left: 76%;
        cursor: pointer; 
        width: 9%; 
        position: relative;

        color: #0B132B;
        font-family: 'Chewy', cursive;
        letter-spacing: 4px;
        padding: 45px 40px; 
        text-align: center; 
        display: inline-block; 
        font-size: 23px; 
        text-decoration:none;

        bottom: 200px;

}

.go4 {
        background-image: url('images/naru.jpeg');
        background-size: cover;
        border: 2px solid rgb(27, 27, 27);
        border-radius: 12px; 
        margin: 0 auto;
        margin-left: 29%;
        cursor: pointer; 
        width: 6%; 
        position: relative;

        color: #0B132B;
        font-family: 'Chewy', cursive;
        letter-spacing: 4px;
        padding: 45px 40px; 
        text-align: left; 
        display: inline-block; 
        font-size: 23px; 
        text-decoration:none;

        bottom: 340px;
}

.go5 {
        background-image: url('images/elmo.gif');
        background-size: cover;
        border: 2px solid rgb(27, 27, 27);
        border-radius: 12px; 
        margin: 0 auto;
        margin-left: 88%;
        cursor: pointer; 
        width: 6%; 
        position: relative;

        color: #0B132B;
        font-family: 'Chewy', cursive;
        letter-spacing: 4px;
        padding: 45px 40px; 
        text-align: left; 
        display: inline-block; 
        font-size: 23px; 
        text-decoration:none;

        bottom: 340px;
}

.go6 {
        background-image: url('images/gintoki.png');
        background-size: cover;
        border: 2px solid rgb(27, 27, 27);
        border-radius: 12px; 
        margin: 0 auto;
        margin-left: 37%;
        cursor: pointer; 
        width: 9%; 
        position: relative;

        color: #0B132B;
        font-family: 'Chewy', cursive;
        letter-spacing: 4px;
        padding: 45px 40px; 
        text-align: center; 
        display: inline-block; 
        font-size: 23px; 
        text-decoration:none;
        bottom: 440px;

}

.go7{
        background-image: url('images/monkey.gif');
        background-size: cover;
        border: 2px solid rgb(27, 27, 27);
        border-radius: 12px; 
        margin: 0 auto;
        margin-left: 56%;
        cursor: pointer; 
        width: 6%; 
        position: relative;

        color: #0B132B;
        font-family: 'Chewy', cursive;
        letter-spacing: 4px;
        padding: 45px 40px; 
        text-align: center; 
        display: inline-block; 
        font-size: 23px; 
        text-decoration:none;

        bottom: 560px;

}

.go8 {
        background-image: url('images/cat.gif');
        background-size: cover;
        border: 2px solid rgb(27, 27, 27);
        border-radius: 12px; 
        margin: 0 auto;
        margin-left: 20%;
        cursor: pointer; 
        width: 9%; 
        position: relative;

        color: #0B132B;
        font-family: 'Chewy', cursive;
        letter-spacing: 4px;
        padding: 45px 40px; 
        text-align: center; 
        display: inline-block; 
        font-size: 23px; 
        text-decoration:none;

        bottom: 1090px;

}

.go9 {
    background-image: url('images/calicifer.gif');
    background-size: cover;
    border: 2px solid rgb(27, 27, 27);
    border-radius: 12px; 
    margin: 0 auto;
    margin-left: -30%;
    cursor: pointer; 
    width: 6%; 
    position: relative;

    color: rgb(83, 75, 119);
    font-family: 'Chewy', cursive;
    letter-spacing: 4px;
    padding: 55px 40px; 
    text-align: left; 
    display: inline-block; 
    font-size: 23px; 
    text-decoration:none;

    bottom: 970px;
}

.go10 {
    background-image: url('images/eye.gif');
    background-size: cover;
    border: 2px solid rgb(27, 27, 27);
    border-radius: 12px; 
    margin: 0 auto;
    margin-left: 54%;
    cursor: pointer; 
    width: 6%; 
    position: relative;

    color: #0B132B;
    font-family: 'Chewy', cursive;
    letter-spacing: 4px;
    padding: 55px 40px; 
    text-align: left; 
    display: inline-block; 
    font-size: 23px; 
    text-decoration:none;

    bottom: 1290px;
}

.go11 {
    background-image: url('images/thisisfine.png');
    background-size: cover;
    border: 2px solid rgb(27, 27, 27);
    border-radius: 12px; 
    margin: 0 auto;
    margin-left: 88%;
    cursor: pointer; 
    width: 6%; 
    position: relative;

    color: #ffffff;
    font-family: 'Chewy', cursive;
    letter-spacing: 4px;
    padding: 40px 40px; 
    text-align: left; 
    display: inline-block; 
    font-size: 13px; 
    text-decoration:none;

    bottom: 1400px;
}

.go12 {
    background-image: url('images/leo.jpg');
    background-size: cover;
    border: 2px solid rgb(27, 27, 27);
    border-radius: 12px; 
    margin: 0 auto;
    margin-left: 18%;
    cursor: pointer; 
    width: 6%; 
    position: relative;

    color: #0B132B;
    font-family: 'Chewy', cursive;
    letter-spacing: 4px;
    padding: 70px 40px; 
    text-align: left; 
    display: inline-block; 
    font-size: 23px; 
    text-decoration:none;

    bottom: 1585px;
}

.go13 {
    background-image: url('images/dog.gif');
    background-size: cover;
    border: 2px solid rgb(27, 27, 27);
    border-radius: 12px; 
    margin: 0 auto;
    margin-left: 19%;
    cursor: pointer; 
    width: 6%; 
    position: relative;

    color: #0B132B;
    font-family: 'Chewy', cursive;
    letter-spacing: 4px;
    padding: 45px 40px; 
    text-align: left; 
    display: inline-block; 
    font-size: 23px; 
    text-decoration:none;

    bottom: 1220px;
}

.go14 {
    background-image: url('images/morty.jpg');
    background-size: cover;
    border: 2px solid rgb(27, 27, 27);
    border-radius: 12px; 
    margin: 0 auto;
    margin-left: 12%;
    cursor: pointer; 
    width: 6%; 
    position: relative;

    color: #0B132B;
    font-family: 'Chewy', cursive;
    letter-spacing: 4px;
    padding: 75px 40px; 
    text-align: left; 
    display: inline-block; 
    font-size: 23px; 
    text-decoration:none;
    
    bottom: 1010px;
} 

.go15 {
    background-image: url('images/nichi.gif');
    background-size: cover;
    border: 2px solid rgb(27, 27, 27);
    border-radius: 12px; 
    margin: 0 auto;
    margin-left: 14%;
    cursor: pointer; 
    width: 6%; 
    position: relative;

    color: #0B132B;
    font-family: 'Chewy', cursive;
    letter-spacing: 4px;
    padding: 15px 30px; 
    text-align: left; 
    display: inline-block; 
    font-size: 18px; 
    text-decoration:none;

    bottom: 1160px;
}
